*,*::after, *::before{
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

#contenedor_carga{
    background-color: rgb(140, 230, 147);
    height: 100%;
    widows: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

#cargar{
    border-top: 16px solid rgb(49, 231, 79);
    border-bottom: 16px solid rgb(19, 173, 57);
    height: 100px;
    width: 100px;
    border-radius: 100%;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from { transform: rotate(0deg);}
    to { transform: rotate(360deg); }
}